body{
	margin-right: 1%;
	margin-left: 1%;
	text-align: center;
	background-color: rgb(255, 255, 253);
	font-family: Trebuchet MS;
}

#title{
	margin-top: 10%;
	font-size: 3.3em;
}

#subtitle{
	margin-top: 2%;
	margin-bottom: 10%;
	font-size: 1.25em;
	font-style: italic;
}

#levelsContainer{
	background-color: rgb(200, 243, 234);
}

.about{
	text-align: right;
	float: right;
}

.howto{
	text-align: left;
	float: left;
}

a{
	color: black;

	margin-top: 5px;
}

canvas{
	z-index: -1;
}